
.icon-facebook:before { content: '\e801'; } /* '' */
.icon-email:before { content: '\e802'; } /* '' */
.icon-linkedin:before { content: '\e804'; } /* '' */
.icon-instagram:before { content: '\e805'; } /* '' */
.icon-menu:before { content: '\e806'; } /* '' */
.icon-cart:before { content: '\e807'; } /* '' */
.icon-facebook-1:before { content: '\f300'; } /* '' */